<div ng-controller="authController" layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login</span></h2>
        </md-toolbar>
        <form ng-submit="login()">
            <md-content layout="column" class="md-padding">

                <md-input-container>
                    <label>EmailAddress</label>
                    <input type="email" ng-model="email"/>
                    <label>{{errorList.email}}</label>
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="password"/>
                    <label>{{errorList.password}}</label>

                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <a ui-sref="signup">Sign Up</a>
                    <md-button type="submit" class="md-raised md-primary">Login</md-button>
                    <a ui-sref="forgotpassword" md-no-ink="md-no-ink">Forgot Password</a>
                </div>
                <label class="error">  {{errorMsg}}</label> 
            </md-content>
        </form>

    </div>
</div>